:root {
  --main: rgba(47,35,89,1);
  --container: rgba(114,99,166,1);
  --firstButton: rgba(242,15,75,1);
  --secondButton: rgba(242,182,182,1);
  --header1: rgba(22,10,38,1);
}

.App {
  text-align: center;
  background-color: var(--main);
  color: white;
}

.App-header {
  background-color: var(--header1);
  min-height: 15vh;
  display: flex;
  font-family: broadacre-regular-0, sans-serif; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
  box-shadow: rgba(24, 24, 27, 0.57) 7px 8px 17px -2px;
  z-index: 1;
}

.App-header a:link, .App-header a:visited, .App-header a:hover {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  background-clip: text;
  color: transparent;
  border-bottom: 2px solid white;
}

.Container {
  min-height: 90vh;
  padding: 0 0.5rem;
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: var(--container);
  box-shadow: rgba(24, 24, 27, 0.57) 7px 8px 17px -2px;
}

.InputContainer {
  margin: 30px 0 10px 0;
  width: 100%;
}

.InputContainer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.InputContainer > form > label {
  font-size: calc(5px + 1vmin);
  padding: 10px 0;
}

.SearchBar {
  width: 60%;
  align-self: center;
  margin-bottom: 1rem;
  box-shadow: rgba(24, 24, 27, 0.57) 7px 8px 17px -2px;
}

.HiddenSubmit {
  display: none;
}

.dropbtn {
  border: none;
  cursor: pointer;
  font-family: ibm-plex-serif, sans-serif;
  background-color: var(--header1);
  color: white;
  padding: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownList {
  display: none;
  position: absolute;
  min-width: 160px;
  max-height: 300px;
  overflow: auto;
  z-index: 1;
  background-color: var(--secondButton);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdownList button {
  display: block;
  text-align: left;
  padding: 12px 16px;
  color: black;
  background-color: var(--secondButton);
  border: none;
  width: 100%;
}

.dropdownList button:hover {
  background-color: var(--main);
  color: white;
}

.show {
  display: block;
}

.ApiError {
  font-size: 3rem;
  color: red;
}

.ResultsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ResultsContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.Card {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  width: 30%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--header1);
  box-shadow: rgba(24, 24, 27, 0.57) 7px 8px 17px -2px;
}

.Card > video {
  height: 80%;
}

@media (max-width: 768px) {
  .Card {
    width: 90%;
  }
}

.Card > button {
  margin-top: 10px;
  background-color: var(--main);
  color: white;
  border: none;
  padding: 0.3rem;
}

.Card > button:hover {
  background-color: var(--secondButton);
  color: black;
}

button {
  width: auto;
  align-self: center;
  font-size: calc(5px + 1vmin);
  font-family: ibm-plex-serif, sans-serif;
}

.TopButtonContainer {
  padding-top: 1rem;
}

.BottomButtonContainer {
  padding-bottom: 1rem;
}

.TopButtonContainer > button, .BottomButtonContainer > button {
  margin: 0 10px;
  border: none;
  cursor: pointer;
  background-color: var(--header1);
  color: white;
  padding: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}