.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-header {
  background: linear-gradient(45deg, rgba(0,255,61,0.3) 0%, rgba(255,0,202,0.3) 100%);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a:visited {
  color: rgba(0,255,61,0.7);
}

.App-header a:hover {
  color: rgba(255,0,202,0.7);
}

.Container {
  min-height: 90vh;
  padding: 0 0.5rem;
  margin: 0 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.InputContainer {
  margin: 10px 0;
  width: 100%;
}

.InputContainer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.InputContainer > form > label {
  font-size: calc(5px + 1vmin);
}

.SearchBar {
  width: 50%;
  align-self: center;
}

.HiddenSubmit {
  display: none;
}

.ResultsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ResultsContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.Card {
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid rgba(255,0,202,0.5);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: black;
}

.Card > button {
  margin-top: 10px;
}

button {
  width: auto;
  align-self: center;
  font-size: calc(5px + 1vmin);
}

.ButtonContainer {
  padding-bottom: 40px;
}